@using LeaRun.Util.Extension
@model LeaRun.EmergencyDuty.Model.DutyDetailsViewModel

@{ 
    var groupDetails = Model.Details.Where(o=>o.DutyDay.HasValue)
        .GroupBy(o => o.DutyDay)
        .ToDictionary(o=>o.Key.Value.ToString(Definition.DATE_FORMAT_HYPHEN), v=>v.ToList());
    var firstDayNextMonth = Model.DutyMonth.AddMonths(1);
    var dictDutyTypes = Helper.MapToDutyTypes(Model.DutyClass);
    var remarks = Model.Duty == null ? "" : Model.Duty.Remarks;
}
<div class="grid-title">@(Model.DutyMonth.ToString(Definition.MONTH_FORMAT_CN) + " " + Model.DutyClass.ToDescription())</div>
<div class="grid-subtitle">日期: @Model.DutyMonth.ToDateString() 至 @firstDayNextMonth.AddDays(-1).ToDateString()</div>
<div id="dutyDetailsWrap" class="duty-info duty-table">
    <table class="form" style="border:2px solid #ccc;">
        <thead>
            <tr>
                <th>日期</th>
                @foreach (var dutytype in dictDutyTypes)
                {
                    <th>@dutytype.Value</th>
                }
            </tr>
        </thead>
        @for (var day = Model.DutyMonth; day < firstDayNextMonth; day = day.AddDays(1))
        {
            var dayDesc = day.ToString(Definition.DATE_FORMAT_HYPHEN);
            var isSetUsers = groupDetails.ContainsKey(dayDesc);
            <tr role="row">
                <td align="center">@(dayDesc + " (" + LeaRun.Definitions.EnumHelper.WeekendConverter(day.DayOfWeek) + ")")</td>
                @if (isSetUsers)
                {
                    var lstDetails = groupDetails[dayDesc];

                    foreach (var dutytype in dictDutyTypes)
                    {
                        var setUser = lstDetails.FirstOrDefault(o => o.DutyType == (int)dutytype.Key);
                        var userNames = setUser == null ? "" : setUser.DutyUsers;
                        var detailId = setUser == null ? "" : setUser.Id;
                        if (Model.Readonly)
                        {
                            <td>@userNames</td>
                        }
                        else
                        {
                            <td class="formValue"><input dutyrole="username" data-id="@detailId" data-dutyday="@dayDesc" data-dutytype="@((int)dutytype.Key)" type="text"  class="form-control" value="@userNames"/></td>
                        }
                    }
                }
                else
                {
                    foreach (var dutytype in dictDutyTypes)
                    {
                        if (Model.Readonly)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td class="formValue"><input dutyrole="username" data-id="" data-dutyday="@dayDesc" data-dutytype="@((int)dutytype.Key)" type="text" class="form-control" /></td>
                        }
                    }
                }
            </tr>
        }

    </table>
</div>
<div>
    <div>@remarks</div>
</div>

