@using LeaRun.Util
@using LeaRun.SystemManage.Entity
@{
    ViewBag.Title = "子系统管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml"; 
}
@section Head{

    <script language="javascript" type="text/javascript">
        //当Document.ready时，初始化搜索对话框中的日期、AutoComplete下拉框等。
 
        function subSystem_search(searchFormId) {
            var vActionURL = '@Url.RouteUrl(new { 
                             controller = StringUtil.cEmpty(ViewContext.RouteData.Values["controller"]),
                             action = "List"
                            })' 
            doSearch(vActionURL, searchFormId, 'masterDiv');
        }


        function subSystem_add() { 
            if (!checkInput_Null("app_Code", "子系统代码")) return false;
            if (!checkInput_Null("app_Name", "子系统名称")) return false;
            if (!checkInput_Null("app_Type", "类型")) return false;
            if (!checkInput_Null("app_App", "应用系统")) return false;
            if (!checkInput_Null("app_Rank", "顺序号")) return false;

            var vActionURL = '@Url.RouteUrl(new { 
                controller = StringUtil.cEmpty(ViewContext.RouteData.Values["controller"]),
                action = "Add"
            })' 

            submitHTMLForm(vActionURL, 'frmAdd',
                function () { 
                    layer.alert("新增成功!", function (index) { layer.close(index); layer.closeAll('page'); refreshList("masterDiv", "masterList"); });
                }
            )

            return true;
        }

        function subSystem_modify() {
            if (!checkInput_Null("app_Code", "子系统代码")) return false;
            if (!checkInput_Null("app_Name", "子系统名称")) return false;
            if (!checkInput_Null("app_Type", "类型")) return false;
            if (!checkInput_Null("app_App", "应用系统")) return false;
            if (!checkInput_Null("app_Rank", "顺序号")) return false;

            var vActionURL = '@Url.RouteUrl(new { 
                controller = StringUtil.cEmpty(ViewContext.RouteData.Values["controller"]),
                action = "Edit"
            })' 

            submitHTMLForm(vActionURL, 'frmEdit',
                function () { 
                    layer.alert("修改成功!", function (index) { layer.close(index); layer.closeAll('page'); refreshList("masterDiv", "masterList"); });
                }
            )

            return true;
        }

        function subSystem_del(ID) {
            var vActionURL = '@Url.RouteUrl(new { 
                controller = StringUtil.cEmpty(ViewContext.RouteData.Values["controller"]),
                action = "Delete"
            })' 
            layer.confirm("点击[确定]将删除本子系统(顶部导航菜单)，[取消]不删除。",
                function () {
                    delRecordByID(vActionURL, ID, function () { layer.closeAll('page'); refreshList("masterDiv", "masterList"); });
                }
            );
        }

        function ExportExcel() {
            var vActionURL = '@Url.RouteUrl(new { 
                controller = StringUtil.cEmpty(ViewContext.RouteData.Values["controller"]),
                action = "Export"
            })' 

            var vQueryString = $('#masterList').attr("data-query-string");

            var vExportActionURL = vActionURL + "?" + vQueryString;

            downloadFile(vExportActionURL);
        }

        //--------------------------------------------------------------

        //**********【END】c:填充字符 length:长度******************
        //**********【START】返回介于Min, Max的随机整数**************
        function getRandomNum(Min, Max) {
            var Range = Max - Min;
            var Rand = Math.random();
            return (Min + Math.round(Rand * Range));
        }

        //**********【END】返回介于Min, Max的随机整数**************
        function getRandURL(url) {
            url = setUrlParam(url, "rannum", getRandomNum(0, 99999999));
            return url;
        }


        function setUrlParam(oldurl, paramname, pvalue) {
            var reg = new RegExp("(\\?|&)" + paramname + "=([^&]*)(&|$)", "gi");
            var pst = oldurl.match(reg);
            if ((pst == undefined) || (pst == null)) {
                return oldurl + ((oldurl.indexOf("?") == -1) ? "?" : "&") + paramname + "=" + pvalue;
            }

            var t = pst[0];
            var retxt = t.substring(0, t.indexOf("=") + 1) + pvalue;
            if (t.charAt(t.length - 1) == '&') retxt += "&";

            return oldurl.replace(reg, retxt);
        }


        function getUrlParam(url, param) {
            var oRegex = new RegExp('[\?&]' + param + '=([^&]+)', 'i');
            //var oMatch = oRegex.exec( window.top.location.search ) ; //获取当前窗口的URL
            var oMatch = oRegex.exec(url);
            if (oMatch && oMatch.length > 1)
                return oMatch[1];  //返回值
            else
                return '';
        }


        //Trim 字符串
        function trim(inputString) {
            if (inputString) {
                return inputString.replace(/^ +/, "").replace(/ +$/, "");
            } else {
                return '';
            }
        }



        //显示对话框，只有“确定/取消”按钮，用户单击“确定”后调OkAction函数。
        function showDialog(DialogTitle, DialogURL, Width, Height) {
            DialogURL = getRandURL(DialogURL);
            //Ajax获取
            $.get(DialogURL, {}, function (strHtml) {
                dialogOpen({
                    id: "Form",
                    title: DialogTitle ,
                    url: DialogURL ,
                    width: Width,
                    height: Height ,
                    callBack: function (iframeId) {
                        top.frames[iframeId].AcceptClick();
                    }
                });

            });
        }


    </script>
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="wrapper wrapper-content animated fadeInRight" style="margin-left: 20px; margin-right: 20px;">
        <div class="table-responsive">
            <table class=" table table-bordered table-hover table-striped">
                <tr>
                    <td align="left" class="col-sm-9 ">
                        <span id="loadingSpan"></span><span style="font-weight:bold;"> &nbsp;子系统(顶部导航菜单):&nbsp;</span>
                    </td>
                    <td align='right' class="col-sm-3 ">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default" onclick="showDivDialog('高级搜索', 'd_AdvanceSearchDialog', '600px', '250px' );"> 高级搜索</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-info" onclick="showDialog('增加子系统', '/SubSystem/Add', '650px', '300px');"> 增加子系统</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-info" onclick="ExportExcel();"> 导出</button>
                        </span>
                    </td>
                </tr>
            </table>
             
            <form id='frmSimpleSearch'>
                <table class=" table table-bordered table-hover table-striped">
                    <tr>
                        <td class="col-sm-2 ">
                            &nbsp;关键字:&nbsp;
                        </td>
                        <td class="col-sm-8 "><input type='text' id='fss_KeyWord' name='KeyWord' placeholder="请输入关键词" class=" form-control" title="双击鼠标清空搜索关键字" value="" /></td>
                        <td class="col-sm-2 ">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" onclick="subSystem_search('frmSimpleSearch');"> 搜索</button>
                            </span>
                        </td>
                    </tr>
                </table>
            </form>
        </div> 
       
        <div id="masterDiv">
            @Html.Action("List", "SubSystem")
        </div>

        <div>
            <table class=" table table-bordered table-hover table-striped">
                <tr>
                    <td style="color:green;">说明：<br/>
                       &nbsp;&nbsp;&nbsp;&nbsp; 1. 应用系统： 角色、代码表、单据号规则表都只区分到应用系统。<br />
                       &nbsp;&nbsp;&nbsp;&nbsp; 2. 子系统： 从属于某一个应用，菜单可以区分到子系统级别，所以子系统有独立的顶部导航菜单。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div id="d_AdvanceSearchDialog"  class="table-responsive"   style="display:none;" >
            <form class="form-horizontal m-t" id="frmAdvSearch">
                <table class=" table table-bordered table-hover table-striped">
                    <tr>
                        <td class="col-sm-2 ">
                            <label class="control-label">子系统代码：</label>
                        </td>
                        <td class="col-sm-4 ">
                            <input id="fas_app_Code" type="text" name="app_Code" value="" class="form-control" maxlength="30" />
                        </td>
                        <td class="col-sm-2 ">
                            <label class="control-label">子系统名称：</label>
                        </td>
                        <td class="col-sm-4 ">
                            <input id="fas_app_Name" type="text" name="app_Name" value="" class="form-control" maxlength="30" />
                        </td> 
                    </tr>
                    <tr>
                        <td class="col-sm-2 ">
                            <label class="control-label">子系统主页URL：</label>
                        </td>
                        <td class="col-sm-4 ">
                            <input id="fas_app_Url" type="text" name="app_Url" value="" class="form-control" maxlength="30" />
                        </td>
                        <td class="col-sm-2 ">
                            <label class="control-label">子系统图标：</label>
                        </td>
                        <td class="col-sm-4 ">
                            <input id="fas_app_Icon" type="text" name="app_Icon" value="" class="form-control" maxlength="30" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" onclick="subSystem_search('frmAdvSearch');">提交搜索</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-sm btn-primary" onclick="clearForm('frmAdvSearch');">重置</button>
         
                            </span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>


    </div>
</div>
