@using LeaRun.SystemManage.Entity
@model LeaRun.SystemManage.Entity.DBTableEntity
@{
    ViewBag.Title = "数据表表单";
    Layout = "~/Views/Shared/_Form.cshtml";
}
 
<!--表格组件end-->
<script>
    var dataBaseLinkId = request('dataBaseLinkId');
    var tableName = request('tableName');
    var tableDisplayName = request('tableDisplayName');
    $(function () {
        if (tableName != "") {
            $("#tableName").val(tableName);
            $("#tableDisplayName").val(tableDisplayName);
        } 
    })
      
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
         
        var postData = {
            dataBaseLinkId: dataBaseLinkId,
            tableName: $("#tableName").val(),
            tableDisplayName: $("#tableDisplayName").val(),
            tableModuleName: $("#tableModuleName").val(),
            tableNameSpace: $("#tableNameSpace").val(),
            tableEntityClass: $("#tableEntityClass").val(),
            tableDesc: $("#tableDesc").val()
        }
        $.SaveForm({
            url: "../../SystemManage/DataBaseTable/ModifyTableInfo",
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div class="border-left border-right border-top" style="margin: 10px; margin-bottom: 5px; padding-bottom: 2px;">
    <table class="form">
        <tr>
            <th class="formTitle" style="text-align: left; padding-left: 7px; width: 120px;">表名称：</th>
            <td class="formValue">
                <input id="tableName" type="text" class="form-control" style="box-shadow:none ;border-top: 0px; border-left: 0px; border-right: 0px;" placeholder="请输入表名称" isvalid="yes" checkexpession="NotNull" />
            </td>
            <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">表说明：</th>
            <td class="formValue">
                <input id="tableDisplayName"  value="@Model.Table_DisplayName"   type="text" class="form-control" style="box-shadow:none ;border-top: 0px; border-left: 0px; border-right: 0px;" placeholder="请输入表说明" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" style="text-align: left; padding-left: 7px; ">所属功能模块：</th>
            <td class="formValue">
                <input id="tableModuleName" value="@Model.Table_ModuleName" type="text" class="form-control" style="box-shadow:none ;border-top: 0px; border-left: 0px; border-right: 0px;" placeholder="请输入功能模块" isvalid="yes" checkexpession="NotNull" />
            </td>
            <th class="formTitle" style="text-align: left; padding-left: 7px; ">备注：</th>
            <td class="formValue">
                <input id="tableDesc" value="@Model.Table_Desc" type="text" class="form-control" style="box-shadow:none ;border-top: 0px; border-left: 0px; border-right: 0px;" placeholder="请输入备注" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" style="text-align: left; padding-left: 7px; ">实体模型的命名空间：</th>
            <td class="formValue">
                <input id="tableNameSpace" value="@Model.Table_NameSpace"   type="text" class="form-control" style="box-shadow:none ;border-top: 0px; border-left: 0px; border-right: 0px;" placeholder="请输入实体模型的命名空间" isvalid="yes" checkexpession="NotNull" />
            </td>
            <th class="formTitle" style="text-align: left; padding-left: 7px; ">默认实体的类名：</th>
            <td class="formValue">
                <input id="tableEntityClass" value="@Model.Table_EntityClass"  type="text" class="form-control" style="box-shadow:none ;border-top: 0px; border-left: 0px; border-right: 0px;" placeholder="请输入实体的类名" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>  
    </table>
</div> 


