@model LeaRun.EmergencyDuty.Entity.DutiesEntity
@{;

    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
    var isAdd = Model.Id.IsEmpty();
    var iniMonth = (isAdd ? DateTime.Now.AddMonths(1) : Model.StartedOn.Value).ToString(Definition.MONTH_FORMAT_CN);
}
@section Styles{
    <link href="~/Content/styles/emergeny-duty.css" rel="stylesheet" />
}
<script>
    var keyValue = request('keyValue');
    var dutyClass = request('dutyClass');
    $(function () {
        InitialPage();
        InitControl();
        @*loadDutyDetailView('@iniMonth');*@
    });
    //初始化页面
    function InitialPage() {
        $(".bills").height($(window).height() - 88);
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $(".bills").height($(window).height() - 88);
            }, 200);
            e.stopPropagation();
        });
    }

    function InitControl() {

    }

    function onMonthChange(dp) {
        var month = dp.cal.getNewDateStr();
        if (dp.cal.oldValue == month) return;
        loadDutyDetailView(month)
    }

    function loadDutyDetailView(month) {
        $.ajax({
            url: "/EmergencyDuty/Duties/DutyDetailWriteView?keyValue=" + keyValue,
            data: { dutyclass: dutyClass, month: month },
            type: "get",
            dataType: "html",
            success: function (data) {
                $("#dutyDetailsContainer").html(data);
            },
        });
    }

    //保存表单
    function AcceptClick(save_Mode) {
        //if (!$('#form1').Validform()) {
        //    return false;
        //}
        var dutyDetailsJson = [];
        $("#dutyDetailsWrap").find('[dutyrole="username"]').each(function (i) {
            var dutyday = $(this).data("dutyday");
            var dutyusers = $.trim($(this).val());
            if (!!dutyusers){ 
                dutyDetailsJson.push({
                    Id: $(this).data("id"),
                    DutyId: keyValue,
                    DutyDay: dutyday,
                    DutyUsers: $(this).val(),
                    DutyType: $(this).data("dutytype"),
                    Sort: i
                });
            }
        });
        var postData = $("#formDuty").GetWebControls(keyValue);
        postData["DutyClass"] = dutyClass;
        //postData["Contracts"] = $("#Contracts").val();
        //postData["ContractsTelNo"] = $("#ContractsTelNo").val();
        postData["Remarks"] = $("#Remarks").val();
        postData["dutyDetailsJson"] = JSON.stringify(dutyDetailsJson);
        console.info(postData);
        if (dutyDetailsJson.length == 0) {
            //
            dialogConfirm("没有设置值班人员，是否确定保存?", function (r) {
                if (r) {
                    saveDuty(postData, save_Mode);
                }
            });
        } else {
            saveDuty(postData, save_Mode);
        }
        
    }

    function saveDuty(postData, save_Mode) {
        $.ConfirmAjax({
            msg: "注：您确认要保存此操作吗？",
            url: "../../EmergencyDuty/Duties/SaveForm?keyValue=" + keyValue,
            param: postData,
            success: function (data) {
                dialogMsg("保存成功", 1);
                closeCurrentTab();
                //if (save_Mode == 1) {
                //    reload();
                //} else {
                //    closeCurrentTab();
                //}
            }
        });
    }

</script>
<div class="ui-report">
    <div class="titlePanel">
        <div class="title-search">
            <table class="form" id="formDuty" style="width: 100%; margin-bottom: 10px;">
                <tr>
                    <th class="formTitle">值班月份 <font face="宋体">*</font></th>
                    <td class="formValue" style="padding-left: 10px;">
                        <input id="StartedOn" readonly type="text" value="@iniMonth" class="form-control input-wdatepicker" 
                               onclick="WdatePicker({onpicked:function(dp){onMonthChange(dp);}, isShowClear:false, dateFmt:'@Definition.MONTH_FORMAT_CN'})">
                    </td>
                    <td class="formTitle">联系人 @*<font face="宋体">*</font>*@</td>
                    <td class="formValue" style="padding-left: 10px;">
                        <input id="Contacts" type="text" class="form-control" value="@Model.Contacts" isvalid="false" checkexpession="NotNull"/>
                    </td>
                    <td class="formTitle">联系电话 @*<font face="宋体">*</font>*@</td>
                    <td class="formValue" style="padding-left: 10px;">
                        <input id="ContactsTelNo" type="text" class="form-control" value="@Model.ContactsTelNo" isvalid="false" checkexpession="NotNull"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="gridPanel" id="gridPanel">
        <div class="printArea" id="dutyDetailsContainer">
            @Html.Action("DutyDetailWriteView", new { dutyClass = Model.DutyClass, keyValue = Model.Id, month = iniMonth })
            <div>
                <textarea class="form-control" id="Remarks">@Model.Remarks</textarea>
            </div>
        </div>
    </div>
</div>

<div id="bottomField">
    <a id="sava" class="btn btn-success" onclick="AcceptClick(1)">保存单据</a>
    @*<a id="save" class="btn btn-default" onclick="AcceptClick(2)">保存单据</a>*@
    <a id="back" class="btn btn-default" onclick="closeCurrentTab();">返回</a>
    <a id="save" class="btn btn-default" onclick="reload();">刷新</a>
</div>
